html, body, * {
  font-family: system-ui, ui-sans-serif, sans-serif;
}
textarea {
  font-family: ui-monospace, monospace;
}
.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background: #ffb713;
  border-color: #ffb713;
}
.button.button-outline, button.button-outline, input[type="button"].button-outline, input[type="reset"].button-outline, input[type="submit"].button-outline {
  color: #ffb713;
}
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: #ffb713;
}
input.with-help {
  margin-bottom: 0.5rem;
}
.button-small {
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}
header {
  background: #ffb713;
  left: 0;
  height: 7.2rem;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
header > * {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .brand {
  display: inline-block;
  overflow: hidden;
}
header .brand > * {
  display: inline-block;
  margin-right: 1.2rem;
}
header .brand .logo {
  height: 6.5rem;
  width: 6.5rem;
  vertical-align: bottom;
}
header .brand h1 {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  font-style: bold;
}
header nav {
  font-size: 1.4rem;
  max-width: 100%;
  position: relative;
  right: -1rem;
  line-height: 7.2rem;
}
header nav > * {
  display: inline-block;
  padding: 0 1.2rem;
  line-height: 7.2rem;
}
header nav .link {
  color: #fff;
  font-weight: normal;
  line-height: 7.2rem;
}
header nav .link:hover,
header nav .link.active {
  background-color: #e6a511;
}
main {
  padding-top: 7.2rem;
}
.alert {
  border-radius: .25rem;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
}
.alert-success {
  background-color: #d1e7dd;
  border-color: #badbcc;
  color: #0f5132;
}
.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
}
.card {
  background-clip: border-box;
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  word-wrap: break-word;
}
.card > img {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  width: 100%;
}
.card > .body {
  padding: 1rem;
}
.card > .body > h5 {
  margin-bottom: .5rem;
}
.card > .footer {
  padding: 0 1rem 1rem 1rem;
}
.card > .footer .button {
  margin-bottom: 0;
}
.help {
  font-size: 1.2rem;
  color: #aaa;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
